/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(240, 15%, 20%); /* Warna input yang lebih gelap */
  --body-color: #fff;
  --container-color: #fff; /* Mengganti container-color dari merah tua ke putih/light untuk kontras */

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*=============== NAV ===============*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*=============== HOME ===============*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__img {
  display: grid;
  grid-column: 1/3;
  margin: 0 auto;
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img {
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__title-color {
  color: var(--first-color);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15); /* Tambahkan shadow agar terlihat beda dengan background */
}

.button--white:hover {
  background-color: var(--first-color-lighter);
  color: var(--first-color);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2rem;
}

.about__img {
  display: block;
  width: 250px;
  height: 400px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
  object-fit: cover; /* Menambahkan ini agar gambar terlihat bagus */
}

.about__data {
  text-align: center;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: var(--mb-2);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*=============== SKILLS ===============*/
.skills__container {
  row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  /* Dihapus: text-align: center; agar konten di dalam skills__box bisa di kiri */
}

.skills__content {
  background-color: var(--container-color);
  border-radius: .5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.skills__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: .5rem;
}

.skills__data i {
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px; /* Menambahkan ini untuk memperbaiki tampilan */
}

.skills__level {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* Dihapus: skills__subtitle, skills__number, skills__level, skills__img karena tidak digunakan dalam struktur baru */

/*=============== SERVICES ===============*/
.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem .5rem 1.25rem 1.5rem; /* Menyesuaikan padding */
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
  transform: translateX(.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: .5rem;
  max-width: 320px; /* Menambahkan max-width */
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
  column-gap: .5rem;
}

.services__modal-icon { /* Menambahkan class icon di sini */
  color: var(--first-color);
}

.services__modal-title,
.services__modal-close {
  cursor: pointer;
  /* Dihapus: font-size dan font-weight karena sudah diatur di atas/dibawah */
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.services__modal-close:hover {
  color: var(--first-color-alt);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*=============== PROJECTS ===============*/
.projects__bg,
.projects__title,
.projects__date,
.projects__description {
  font-size: var(--small-font-size);
}

.projects__container {
  row-gap: 2rem;
}

.projects__content {
  background-color: var(--container-color); /* Mengubah container-color */
  padding: 1.5rem; /* Menyesuaikan padding */
  border-radius: .5rem; /* Menyesuaikan border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.projects__icon {
  display: block;
  font-size: 2rem; /* Memperbesar ikon */
  color: var(--first-color);
  margin-bottom: var(--mb-0-75);
}

.projects__title {
  font-size: var(--h3-font-size); /* Memperbesar title */
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
  color: var(--title-color);
}

.projects__description {
  font-size: var(--normal-font-size); /* Memperbesar deskripsi */
  margin-bottom: var(--mb-1-5);
}

.projects__button:hover .button__icon {
  transform: translateX(.25rem);
}

/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr); /* Menambahkan ini untuk layout 2 kolom */
}

.contact__content {
    background-color: var(--container-color);
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.contact__information {
  display: flex;
  align-items: flex-start; /* Mengubah align-items */
  margin-bottom: var(--mb-2);
  column-gap: .75rem; /* Mengganti margin-right dengan column-gap */
}

.contact__icon {
  font-size: 1.25rem; /* Menyesuaikan ukuran ikon */
  color: var(--first-color);
  /* Dihapus: margin-right: var(--mb-0-75); */
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__form {
    row-gap: 1.5rem;
}

.contact__inputs {
  grid-template-columns: repeat(2, 1fr);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
  resize: none; /* Tambahkan ini agar textarea tidak bisa di-resize */
}

/*=============== FOOTER ===============*/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
  text-align: center; /* Menambahkan ini agar konten di tengah */
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
  color: hsl(240, 30%, 12%);
}

.footer__subtitle {
  font-size: var(--small-font-size);
  color: #fff;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin: var(--mb-1-5) 0; /* Menambahkan margin vertikal */
}

.footer__link {
    color: #fff;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__socials { /* Mengganti .footer__social menjadi .footer__socials (container) */
    margin-bottom: var(--mb-2);
}

.footer__social {
  font-size: 1.5rem; /* Memperbesar ikon */
  margin: 0 var(--mb-1) 0 0; /* Menyesuaikan margin */
  color: #fff;
  display: inline-block; /* Agar bisa diatur margin-nya */
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--first-color-lighter); /* Mengubah warna copy */
  margin-top: var(--mb-3);
}

/* Dihapus: .footer__title, .footer__subtitle, .footer__link, .footer__social */
/* Karena sudah diatur di dalam .footer__bg */

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

/* Show scroll */
.show-scroll {
    bottom: 3rem;
}


/*==================== BREAKPOINTS ====================*/
/* For small devices (350px) */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__box {
        column-gap: 1rem;
    }

    .services__container {
        grid-template-columns: 1fr;
    }
    
    .services__content {
        padding: 3.5rem .5rem 1.25rem 1.5rem;
    }

    .services__modal-content {
        padding: 1rem;
    }
    
    .projects__content {
        padding: 1.5rem 1rem;
    }

    .contact__inputs {
        grid-template-columns: 1fr;
    }
}

/* For medium devices (568px) */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        grid-column: initial;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about__img {
        order: 1;
    }

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .services__container {
        grid-template-columns: repeat(3, 210px);
        justify-content: center;
    }

    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }

    .projects__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__content {
        padding: 2rem;
    }
}


/* For large devices (768px) */
@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .body {
        margin: 0;
    }
    
    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__link {
        font-size: var(--normal-font-size);
    }

    .scrollup {
        right: 3rem;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob {
        width: 250px;
    }

    .home__blob-img {
        width: 220px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
        height: 350px;
    }

    .about__data {
        text-align: initial;
    }

    .about__info {
        justify-content: initial;
    }

    .about__buttons {
        justify-content: initial;
    }

    .skills__container {
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
    }
    
    .skills__content {
        padding: 2rem 4rem;
    }

    .services__container {
        grid-template-columns: repeat(3, 250px);
    }
    
    .services__modal-content {
        width: 450px;
    }

    .projects__container {
        grid-template-columns: repeat(3, 235px);
    }

    .contact__form {
        width: 460px;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For large devices (1024px) */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 968px;
    }
    
    .home__blob {
        width: 320px;
    }

    .home__blob-img {
        width: 290px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .services__container {
        grid-template-columns: repeat(3, 270px);
    }
    
    .projects__container {
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        margin: 0;
    }

    .footer__socials {
        margin: 0;
    }
    
    .footer__copy {
        margin-top: 4.5rem;
    }

  } 